.flex {
  box-sizing: border-box;
}

@media (min-width: 1200px) {
  .flex-desktop-0 {
    width: 0%;
    height: 0%;
    display: none;
  }

  .flex-order-desktop-0 {
    order: 0;
  }

  .flex-desktop-1 {
    width: 1%;
    height: 1%;
    display: inline-block;
  }

  .flex-order-desktop-1 {
    order: 1;
  }

  .flex-desktop-2 {
    width: 2%;
    height: 2%;
    display: inline-block;
  }

  .flex-order-desktop-2 {
    order: 2;
  }

  .flex-desktop-3 {
    width: 3%;
    height: 3%;
    display: inline-block;
  }

  .flex-order-desktop-3 {
    order: 3;
  }

  .flex-desktop-4 {
    width: 4%;
    height: 4%;
    display: inline-block;
  }

  .flex-order-desktop-4 {
    order: 4;
  }

  .flex-desktop-5 {
    width: 5%;
    height: 5%;
    display: inline-block;
  }

  .flex-order-desktop-5 {
    order: 5;
  }

  .flex-desktop-6 {
    width: 6%;
    height: 6%;
    display: inline-block;
  }

  .flex-order-desktop-6 {
    order: 6;
  }

  .flex-desktop-7 {
    width: 7%;
    height: 7%;
    display: inline-block;
  }

  .flex-order-desktop-7 {
    order: 7;
  }

  .flex-desktop-8 {
    width: 8%;
    height: 8%;
    display: inline-block;
  }

  .flex-order-desktop-8 {
    order: 8;
  }

  .flex-desktop-9 {
    width: 9%;
    height: 9%;
    display: inline-block;
  }

  .flex-order-desktop-9 {
    order: 9;
  }

  .flex-desktop-10 {
    width: 10%;
    height: 10%;
    display: inline-block;
  }

  .flex-order-desktop-10 {
    order: 10;
  }

  .flex-desktop-11 {
    width: 11%;
    height: 11%;
    display: inline-block;
  }

  .flex-order-desktop-11 {
    order: 11;
  }

  .flex-desktop-12 {
    width: 12%;
    height: 12%;
    display: inline-block;
  }

  .flex-order-desktop-12 {
    order: 12;
  }

  .flex-desktop-13 {
    width: 13%;
    height: 13%;
    display: inline-block;
  }

  .flex-order-desktop-13 {
    order: 13;
  }

  .flex-desktop-14 {
    width: 14%;
    height: 14%;
    display: inline-block;
  }

  .flex-order-desktop-14 {
    order: 14;
  }

  .flex-desktop-15 {
    width: 15%;
    height: 15%;
    display: inline-block;
  }

  .flex-order-desktop-15 {
    order: 15;
  }

  .flex-desktop-16 {
    width: 16%;
    height: 16%;
    display: inline-block;
  }

  .flex-order-desktop-16 {
    order: 16;
  }

  .flex-desktop-17 {
    width: 17%;
    height: 17%;
    display: inline-block;
  }

  .flex-order-desktop-17 {
    order: 17;
  }

  .flex-desktop-18 {
    width: 18%;
    height: 18%;
    display: inline-block;
  }

  .flex-order-desktop-18 {
    order: 18;
  }

  .flex-desktop-19 {
    width: 19%;
    height: 19%;
    display: inline-block;
  }

  .flex-order-desktop-19 {
    order: 19;
  }

  .flex-desktop-20 {
    width: 20%;
    height: 20%;
    display: inline-block;
  }

  .flex-order-desktop-20 {
    order: 20;
  }

  .flex-desktop-21 {
    width: 21%;
    height: 21%;
    display: inline-block;
  }

  .flex-order-desktop-21 {
    order: 21;
  }

  .flex-desktop-22 {
    width: 22%;
    height: 22%;
    display: inline-block;
  }

  .flex-order-desktop-22 {
    order: 22;
  }

  .flex-desktop-23 {
    width: 23%;
    height: 23%;
    display: inline-block;
  }

  .flex-order-desktop-23 {
    order: 23;
  }

  .flex-desktop-24 {
    width: 24%;
    height: 24%;
    display: inline-block;
  }

  .flex-order-desktop-24 {
    order: 24;
  }

  .flex-desktop-25 {
    width: 25%;
    height: 25%;
    display: inline-block;
  }

  .flex-order-desktop-25 {
    order: 25;
  }

  .flex-desktop-26 {
    width: 26%;
    height: 26%;
    display: inline-block;
  }

  .flex-order-desktop-26 {
    order: 26;
  }

  .flex-desktop-27 {
    width: 27%;
    height: 27%;
    display: inline-block;
  }

  .flex-order-desktop-27 {
    order: 27;
  }

  .flex-desktop-28 {
    width: 28%;
    height: 28%;
    display: inline-block;
  }

  .flex-order-desktop-28 {
    order: 28;
  }

  .flex-desktop-29 {
    width: 29%;
    height: 29%;
    display: inline-block;
  }

  .flex-order-desktop-29 {
    order: 29;
  }

  .flex-desktop-30 {
    width: 30%;
    height: 30%;
    display: inline-block;
  }

  .flex-order-desktop-30 {
    order: 30;
  }

  .flex-desktop-31 {
    width: 31%;
    height: 31%;
    display: inline-block;
  }

  .flex-order-desktop-31 {
    order: 31;
  }

  .flex-desktop-32 {
    width: 32%;
    height: 32%;
    display: inline-block;
  }

  .flex-order-desktop-32 {
    order: 32;
  }

  .flex-desktop-33 {
    width: 33%;
    height: 33%;
    display: inline-block;
  }

  .flex-order-desktop-33 {
    order: 33;
  }

  .flex-desktop-34 {
    width: 34%;
    height: 34%;
    display: inline-block;
  }

  .flex-order-desktop-34 {
    order: 34;
  }

  .flex-desktop-35 {
    width: 35%;
    height: 35%;
    display: inline-block;
  }

  .flex-order-desktop-35 {
    order: 35;
  }

  .flex-desktop-36 {
    width: 36%;
    height: 36%;
    display: inline-block;
  }

  .flex-order-desktop-36 {
    order: 36;
  }

  .flex-desktop-37 {
    width: 37%;
    height: 37%;
    display: inline-block;
  }

  .flex-order-desktop-37 {
    order: 37;
  }

  .flex-desktop-38 {
    width: 38%;
    height: 38%;
    display: inline-block;
  }

  .flex-order-desktop-38 {
    order: 38;
  }

  .flex-desktop-39 {
    width: 39%;
    height: 39%;
    display: inline-block;
  }

  .flex-order-desktop-39 {
    order: 39;
  }

  .flex-desktop-40 {
    width: 40%;
    height: 40%;
    display: inline-block;
  }

  .flex-order-desktop-40 {
    order: 40;
  }

  .flex-desktop-41 {
    width: 41%;
    height: 41%;
    display: inline-block;
  }

  .flex-order-desktop-41 {
    order: 41;
  }

  .flex-desktop-42 {
    width: 42%;
    height: 42%;
    display: inline-block;
  }

  .flex-order-desktop-42 {
    order: 42;
  }

  .flex-desktop-43 {
    width: 43%;
    height: 43%;
    display: inline-block;
  }

  .flex-order-desktop-43 {
    order: 43;
  }

  .flex-desktop-44 {
    width: 44%;
    height: 44%;
    display: inline-block;
  }

  .flex-order-desktop-44 {
    order: 44;
  }

  .flex-desktop-45 {
    width: 45%;
    height: 45%;
    display: inline-block;
  }

  .flex-order-desktop-45 {
    order: 45;
  }

  .flex-desktop-46 {
    width: 46%;
    height: 46%;
    display: inline-block;
  }

  .flex-order-desktop-46 {
    order: 46;
  }

  .flex-desktop-47 {
    width: 47%;
    height: 47%;
    display: inline-block;
  }

  .flex-order-desktop-47 {
    order: 47;
  }

  .flex-desktop-48 {
    width: 48%;
    height: 48%;
    display: inline-block;
  }

  .flex-order-desktop-48 {
    order: 48;
  }

  .flex-desktop-49 {
    width: 49%;
    height: 49%;
    display: inline-block;
  }

  .flex-order-desktop-49 {
    order: 49;
  }

  .flex-desktop-50 {
    width: 50%;
    height: 50%;
    display: inline-block;
  }

  .flex-order-desktop-50 {
    order: 50;
  }

  .flex-desktop-51 {
    width: 51%;
    height: 51%;
    display: inline-block;
  }

  .flex-order-desktop-51 {
    order: 51;
  }

  .flex-desktop-52 {
    width: 52%;
    height: 52%;
    display: inline-block;
  }

  .flex-order-desktop-52 {
    order: 52;
  }

  .flex-desktop-53 {
    width: 53%;
    height: 53%;
    display: inline-block;
  }

  .flex-order-desktop-53 {
    order: 53;
  }

  .flex-desktop-54 {
    width: 54%;
    height: 54%;
    display: inline-block;
  }

  .flex-order-desktop-54 {
    order: 54;
  }

  .flex-desktop-55 {
    width: 55%;
    height: 55%;
    display: inline-block;
  }

  .flex-order-desktop-55 {
    order: 55;
  }

  .flex-desktop-56 {
    width: 56%;
    height: 56%;
    display: inline-block;
  }

  .flex-order-desktop-56 {
    order: 56;
  }

  .flex-desktop-57 {
    width: 57%;
    height: 57%;
    display: inline-block;
  }

  .flex-order-desktop-57 {
    order: 57;
  }

  .flex-desktop-58 {
    width: 58%;
    height: 58%;
    display: inline-block;
  }

  .flex-order-desktop-58 {
    order: 58;
  }

  .flex-desktop-59 {
    width: 59%;
    height: 59%;
    display: inline-block;
  }

  .flex-order-desktop-59 {
    order: 59;
  }

  .flex-desktop-60 {
    width: 60%;
    height: 60%;
    display: inline-block;
  }

  .flex-order-desktop-60 {
    order: 60;
  }

  .flex-desktop-61 {
    width: 61%;
    height: 61%;
    display: inline-block;
  }

  .flex-order-desktop-61 {
    order: 61;
  }

  .flex-desktop-62 {
    width: 62%;
    height: 62%;
    display: inline-block;
  }

  .flex-order-desktop-62 {
    order: 62;
  }

  .flex-desktop-63 {
    width: 63%;
    height: 63%;
    display: inline-block;
  }

  .flex-order-desktop-63 {
    order: 63;
  }

  .flex-desktop-64 {
    width: 64%;
    height: 64%;
    display: inline-block;
  }

  .flex-order-desktop-64 {
    order: 64;
  }

  .flex-desktop-65 {
    width: 65%;
    height: 65%;
    display: inline-block;
  }

  .flex-order-desktop-65 {
    order: 65;
  }

  .flex-desktop-66 {
    width: 66%;
    height: 66%;
    display: inline-block;
  }

  .flex-order-desktop-66 {
    order: 66;
  }

  .flex-desktop-67 {
    width: 67%;
    height: 67%;
    display: inline-block;
  }

  .flex-order-desktop-67 {
    order: 67;
  }

  .flex-desktop-68 {
    width: 68%;
    height: 68%;
    display: inline-block;
  }

  .flex-order-desktop-68 {
    order: 68;
  }

  .flex-desktop-69 {
    width: 69%;
    height: 69%;
    display: inline-block;
  }

  .flex-order-desktop-69 {
    order: 69;
  }

  .flex-desktop-70 {
    width: 70%;
    height: 70%;
    display: inline-block;
  }

  .flex-order-desktop-70 {
    order: 70;
  }

  .flex-desktop-71 {
    width: 71%;
    height: 71%;
    display: inline-block;
  }

  .flex-order-desktop-71 {
    order: 71;
  }

  .flex-desktop-72 {
    width: 72%;
    height: 72%;
    display: inline-block;
  }

  .flex-order-desktop-72 {
    order: 72;
  }

  .flex-desktop-73 {
    width: 73%;
    height: 73%;
    display: inline-block;
  }

  .flex-order-desktop-73 {
    order: 73;
  }

  .flex-desktop-74 {
    width: 74%;
    height: 74%;
    display: inline-block;
  }

  .flex-order-desktop-74 {
    order: 74;
  }

  .flex-desktop-75 {
    width: 75%;
    height: 75%;
    display: inline-block;
  }

  .flex-order-desktop-75 {
    order: 75;
  }

  .flex-desktop-76 {
    width: 76%;
    height: 76%;
    display: inline-block;
  }

  .flex-order-desktop-76 {
    order: 76;
  }

  .flex-desktop-77 {
    width: 77%;
    height: 77%;
    display: inline-block;
  }

  .flex-order-desktop-77 {
    order: 77;
  }

  .flex-desktop-78 {
    width: 78%;
    height: 78%;
    display: inline-block;
  }

  .flex-order-desktop-78 {
    order: 78;
  }

  .flex-desktop-79 {
    width: 79%;
    height: 79%;
    display: inline-block;
  }

  .flex-order-desktop-79 {
    order: 79;
  }

  .flex-desktop-80 {
    width: 80%;
    height: 80%;
    display: inline-block;
  }

  .flex-order-desktop-80 {
    order: 80;
  }

  .flex-desktop-81 {
    width: 81%;
    height: 81%;
    display: inline-block;
  }

  .flex-order-desktop-81 {
    order: 81;
  }

  .flex-desktop-82 {
    width: 82%;
    height: 82%;
    display: inline-block;
  }

  .flex-order-desktop-82 {
    order: 82;
  }

  .flex-desktop-83 {
    width: 83%;
    height: 83%;
    display: inline-block;
  }

  .flex-order-desktop-83 {
    order: 83;
  }

  .flex-desktop-84 {
    width: 84%;
    height: 84%;
    display: inline-block;
  }

  .flex-order-desktop-84 {
    order: 84;
  }

  .flex-desktop-85 {
    width: 85%;
    height: 85%;
    display: inline-block;
  }

  .flex-order-desktop-85 {
    order: 85;
  }

  .flex-desktop-86 {
    width: 86%;
    height: 86%;
    display: inline-block;
  }

  .flex-order-desktop-86 {
    order: 86;
  }

  .flex-desktop-87 {
    width: 87%;
    height: 87%;
    display: inline-block;
  }

  .flex-order-desktop-87 {
    order: 87;
  }

  .flex-desktop-88 {
    width: 88%;
    height: 88%;
    display: inline-block;
  }

  .flex-order-desktop-88 {
    order: 88;
  }

  .flex-desktop-89 {
    width: 89%;
    height: 89%;
    display: inline-block;
  }

  .flex-order-desktop-89 {
    order: 89;
  }

  .flex-desktop-90 {
    width: 90%;
    height: 90%;
    display: inline-block;
  }

  .flex-order-desktop-90 {
    order: 90;
  }

  .flex-desktop-91 {
    width: 91%;
    height: 91%;
    display: inline-block;
  }

  .flex-order-desktop-91 {
    order: 91;
  }

  .flex-desktop-92 {
    width: 92%;
    height: 92%;
    display: inline-block;
  }

  .flex-order-desktop-92 {
    order: 92;
  }

  .flex-desktop-93 {
    width: 93%;
    height: 93%;
    display: inline-block;
  }

  .flex-order-desktop-93 {
    order: 93;
  }

  .flex-desktop-94 {
    width: 94%;
    height: 94%;
    display: inline-block;
  }

  .flex-order-desktop-94 {
    order: 94;
  }

  .flex-desktop-95 {
    width: 95%;
    height: 95%;
    display: inline-block;
  }

  .flex-order-desktop-95 {
    order: 95;
  }

  .flex-desktop-96 {
    width: 96%;
    height: 96%;
    display: inline-block;
  }

  .flex-order-desktop-96 {
    order: 96;
  }

  .flex-desktop-97 {
    width: 97%;
    height: 97%;
    display: inline-block;
  }

  .flex-order-desktop-97 {
    order: 97;
  }

  .flex-desktop-98 {
    width: 98%;
    height: 98%;
    display: inline-block;
  }

  .flex-order-desktop-98 {
    order: 98;
  }

  .flex-desktop-99 {
    width: 99%;
    height: 99%;
    display: inline-block;
  }

  .flex-order-desktop-99 {
    order: 99;
  }

  .flex-desktop-100 {
    width: 100%;
    height: 100%;
    display: inline-block;
  }

  .flex-order-desktop-100 {
    order: 100;
  }
}
@media (max-width: 1199px) and (min-width: 961px) {
  .flex-tablet-0 {
    width: 0%;
    height: 0%;
    display: none;
  }

  .flex-order-tablet-0 {
    order: 0;
  }

  .flex-tablet-1 {
    width: 1%;
    height: 1%;
    display: inline-block;
  }

  .flex-order-tablet-1 {
    order: 1;
  }

  .flex-tablet-2 {
    width: 2%;
    height: 2%;
    display: inline-block;
  }

  .flex-order-tablet-2 {
    order: 2;
  }

  .flex-tablet-3 {
    width: 3%;
    height: 3%;
    display: inline-block;
  }

  .flex-order-tablet-3 {
    order: 3;
  }

  .flex-tablet-4 {
    width: 4%;
    height: 4%;
    display: inline-block;
  }

  .flex-order-tablet-4 {
    order: 4;
  }

  .flex-tablet-5 {
    width: 5%;
    height: 5%;
    display: inline-block;
  }

  .flex-order-tablet-5 {
    order: 5;
  }

  .flex-tablet-6 {
    width: 6%;
    height: 6%;
    display: inline-block;
  }

  .flex-order-tablet-6 {
    order: 6;
  }

  .flex-tablet-7 {
    width: 7%;
    height: 7%;
    display: inline-block;
  }

  .flex-order-tablet-7 {
    order: 7;
  }

  .flex-tablet-8 {
    width: 8%;
    height: 8%;
    display: inline-block;
  }

  .flex-order-tablet-8 {
    order: 8;
  }

  .flex-tablet-9 {
    width: 9%;
    height: 9%;
    display: inline-block;
  }

  .flex-order-tablet-9 {
    order: 9;
  }

  .flex-tablet-10 {
    width: 10%;
    height: 10%;
    display: inline-block;
  }

  .flex-order-tablet-10 {
    order: 10;
  }

  .flex-tablet-11 {
    width: 11%;
    height: 11%;
    display: inline-block;
  }

  .flex-order-tablet-11 {
    order: 11;
  }

  .flex-tablet-12 {
    width: 12%;
    height: 12%;
    display: inline-block;
  }

  .flex-order-tablet-12 {
    order: 12;
  }

  .flex-tablet-13 {
    width: 13%;
    height: 13%;
    display: inline-block;
  }

  .flex-order-tablet-13 {
    order: 13;
  }

  .flex-tablet-14 {
    width: 14%;
    height: 14%;
    display: inline-block;
  }

  .flex-order-tablet-14 {
    order: 14;
  }

  .flex-tablet-15 {
    width: 15%;
    height: 15%;
    display: inline-block;
  }

  .flex-order-tablet-15 {
    order: 15;
  }

  .flex-tablet-16 {
    width: 16%;
    height: 16%;
    display: inline-block;
  }

  .flex-order-tablet-16 {
    order: 16;
  }

  .flex-tablet-17 {
    width: 17%;
    height: 17%;
    display: inline-block;
  }

  .flex-order-tablet-17 {
    order: 17;
  }

  .flex-tablet-18 {
    width: 18%;
    height: 18%;
    display: inline-block;
  }

  .flex-order-tablet-18 {
    order: 18;
  }

  .flex-tablet-19 {
    width: 19%;
    height: 19%;
    display: inline-block;
  }

  .flex-order-tablet-19 {
    order: 19;
  }

  .flex-tablet-20 {
    width: 20%;
    height: 20%;
    display: inline-block;
  }

  .flex-order-tablet-20 {
    order: 20;
  }

  .flex-tablet-21 {
    width: 21%;
    height: 21%;
    display: inline-block;
  }

  .flex-order-tablet-21 {
    order: 21;
  }

  .flex-tablet-22 {
    width: 22%;
    height: 22%;
    display: inline-block;
  }

  .flex-order-tablet-22 {
    order: 22;
  }

  .flex-tablet-23 {
    width: 23%;
    height: 23%;
    display: inline-block;
  }

  .flex-order-tablet-23 {
    order: 23;
  }

  .flex-tablet-24 {
    width: 24%;
    height: 24%;
    display: inline-block;
  }

  .flex-order-tablet-24 {
    order: 24;
  }

  .flex-tablet-25 {
    width: 25%;
    height: 25%;
    display: inline-block;
  }

  .flex-order-tablet-25 {
    order: 25;
  }

  .flex-tablet-26 {
    width: 26%;
    height: 26%;
    display: inline-block;
  }

  .flex-order-tablet-26 {
    order: 26;
  }

  .flex-tablet-27 {
    width: 27%;
    height: 27%;
    display: inline-block;
  }

  .flex-order-tablet-27 {
    order: 27;
  }

  .flex-tablet-28 {
    width: 28%;
    height: 28%;
    display: inline-block;
  }

  .flex-order-tablet-28 {
    order: 28;
  }

  .flex-tablet-29 {
    width: 29%;
    height: 29%;
    display: inline-block;
  }

  .flex-order-tablet-29 {
    order: 29;
  }

  .flex-tablet-30 {
    width: 30%;
    height: 30%;
    display: inline-block;
  }

  .flex-order-tablet-30 {
    order: 30;
  }

  .flex-tablet-31 {
    width: 31%;
    height: 31%;
    display: inline-block;
  }

  .flex-order-tablet-31 {
    order: 31;
  }

  .flex-tablet-32 {
    width: 32%;
    height: 32%;
    display: inline-block;
  }

  .flex-order-tablet-32 {
    order: 32;
  }

  .flex-tablet-33 {
    width: 33%;
    height: 33%;
    display: inline-block;
  }

  .flex-order-tablet-33 {
    order: 33;
  }

  .flex-tablet-34 {
    width: 34%;
    height: 34%;
    display: inline-block;
  }

  .flex-order-tablet-34 {
    order: 34;
  }

  .flex-tablet-35 {
    width: 35%;
    height: 35%;
    display: inline-block;
  }

  .flex-order-tablet-35 {
    order: 35;
  }

  .flex-tablet-36 {
    width: 36%;
    height: 36%;
    display: inline-block;
  }

  .flex-order-tablet-36 {
    order: 36;
  }

  .flex-tablet-37 {
    width: 37%;
    height: 37%;
    display: inline-block;
  }

  .flex-order-tablet-37 {
    order: 37;
  }

  .flex-tablet-38 {
    width: 38%;
    height: 38%;
    display: inline-block;
  }

  .flex-order-tablet-38 {
    order: 38;
  }

  .flex-tablet-39 {
    width: 39%;
    height: 39%;
    display: inline-block;
  }

  .flex-order-tablet-39 {
    order: 39;
  }

  .flex-tablet-40 {
    width: 40%;
    height: 40%;
    display: inline-block;
  }

  .flex-order-tablet-40 {
    order: 40;
  }

  .flex-tablet-41 {
    width: 41%;
    height: 41%;
    display: inline-block;
  }

  .flex-order-tablet-41 {
    order: 41;
  }

  .flex-tablet-42 {
    width: 42%;
    height: 42%;
    display: inline-block;
  }

  .flex-order-tablet-42 {
    order: 42;
  }

  .flex-tablet-43 {
    width: 43%;
    height: 43%;
    display: inline-block;
  }

  .flex-order-tablet-43 {
    order: 43;
  }

  .flex-tablet-44 {
    width: 44%;
    height: 44%;
    display: inline-block;
  }

  .flex-order-tablet-44 {
    order: 44;
  }

  .flex-tablet-45 {
    width: 45%;
    height: 45%;
    display: inline-block;
  }

  .flex-order-tablet-45 {
    order: 45;
  }

  .flex-tablet-46 {
    width: 46%;
    height: 46%;
    display: inline-block;
  }

  .flex-order-tablet-46 {
    order: 46;
  }

  .flex-tablet-47 {
    width: 47%;
    height: 47%;
    display: inline-block;
  }

  .flex-order-tablet-47 {
    order: 47;
  }

  .flex-tablet-48 {
    width: 48%;
    height: 48%;
    display: inline-block;
  }

  .flex-order-tablet-48 {
    order: 48;
  }

  .flex-tablet-49 {
    width: 49%;
    height: 49%;
    display: inline-block;
  }

  .flex-order-tablet-49 {
    order: 49;
  }

  .flex-tablet-50 {
    width: 50%;
    height: 50%;
    display: inline-block;
  }

  .flex-order-tablet-50 {
    order: 50;
  }

  .flex-tablet-51 {
    width: 51%;
    height: 51%;
    display: inline-block;
  }

  .flex-order-tablet-51 {
    order: 51;
  }

  .flex-tablet-52 {
    width: 52%;
    height: 52%;
    display: inline-block;
  }

  .flex-order-tablet-52 {
    order: 52;
  }

  .flex-tablet-53 {
    width: 53%;
    height: 53%;
    display: inline-block;
  }

  .flex-order-tablet-53 {
    order: 53;
  }

  .flex-tablet-54 {
    width: 54%;
    height: 54%;
    display: inline-block;
  }

  .flex-order-tablet-54 {
    order: 54;
  }

  .flex-tablet-55 {
    width: 55%;
    height: 55%;
    display: inline-block;
  }

  .flex-order-tablet-55 {
    order: 55;
  }

  .flex-tablet-56 {
    width: 56%;
    height: 56%;
    display: inline-block;
  }

  .flex-order-tablet-56 {
    order: 56;
  }

  .flex-tablet-57 {
    width: 57%;
    height: 57%;
    display: inline-block;
  }

  .flex-order-tablet-57 {
    order: 57;
  }

  .flex-tablet-58 {
    width: 58%;
    height: 58%;
    display: inline-block;
  }

  .flex-order-tablet-58 {
    order: 58;
  }

  .flex-tablet-59 {
    width: 59%;
    height: 59%;
    display: inline-block;
  }

  .flex-order-tablet-59 {
    order: 59;
  }

  .flex-tablet-60 {
    width: 60%;
    height: 60%;
    display: inline-block;
  }

  .flex-order-tablet-60 {
    order: 60;
  }

  .flex-tablet-61 {
    width: 61%;
    height: 61%;
    display: inline-block;
  }

  .flex-order-tablet-61 {
    order: 61;
  }

  .flex-tablet-62 {
    width: 62%;
    height: 62%;
    display: inline-block;
  }

  .flex-order-tablet-62 {
    order: 62;
  }

  .flex-tablet-63 {
    width: 63%;
    height: 63%;
    display: inline-block;
  }

  .flex-order-tablet-63 {
    order: 63;
  }

  .flex-tablet-64 {
    width: 64%;
    height: 64%;
    display: inline-block;
  }

  .flex-order-tablet-64 {
    order: 64;
  }

  .flex-tablet-65 {
    width: 65%;
    height: 65%;
    display: inline-block;
  }

  .flex-order-tablet-65 {
    order: 65;
  }

  .flex-tablet-66 {
    width: 66%;
    height: 66%;
    display: inline-block;
  }

  .flex-order-tablet-66 {
    order: 66;
  }

  .flex-tablet-67 {
    width: 67%;
    height: 67%;
    display: inline-block;
  }

  .flex-order-tablet-67 {
    order: 67;
  }

  .flex-tablet-68 {
    width: 68%;
    height: 68%;
    display: inline-block;
  }

  .flex-order-tablet-68 {
    order: 68;
  }

  .flex-tablet-69 {
    width: 69%;
    height: 69%;
    display: inline-block;
  }

  .flex-order-tablet-69 {
    order: 69;
  }

  .flex-tablet-70 {
    width: 70%;
    height: 70%;
    display: inline-block;
  }

  .flex-order-tablet-70 {
    order: 70;
  }

  .flex-tablet-71 {
    width: 71%;
    height: 71%;
    display: inline-block;
  }

  .flex-order-tablet-71 {
    order: 71;
  }

  .flex-tablet-72 {
    width: 72%;
    height: 72%;
    display: inline-block;
  }

  .flex-order-tablet-72 {
    order: 72;
  }

  .flex-tablet-73 {
    width: 73%;
    height: 73%;
    display: inline-block;
  }

  .flex-order-tablet-73 {
    order: 73;
  }

  .flex-tablet-74 {
    width: 74%;
    height: 74%;
    display: inline-block;
  }

  .flex-order-tablet-74 {
    order: 74;
  }

  .flex-tablet-75 {
    width: 75%;
    height: 75%;
    display: inline-block;
  }

  .flex-order-tablet-75 {
    order: 75;
  }

  .flex-tablet-76 {
    width: 76%;
    height: 76%;
    display: inline-block;
  }

  .flex-order-tablet-76 {
    order: 76;
  }

  .flex-tablet-77 {
    width: 77%;
    height: 77%;
    display: inline-block;
  }

  .flex-order-tablet-77 {
    order: 77;
  }

  .flex-tablet-78 {
    width: 78%;
    height: 78%;
    display: inline-block;
  }

  .flex-order-tablet-78 {
    order: 78;
  }

  .flex-tablet-79 {
    width: 79%;
    height: 79%;
    display: inline-block;
  }

  .flex-order-tablet-79 {
    order: 79;
  }

  .flex-tablet-80 {
    width: 80%;
    height: 80%;
    display: inline-block;
  }

  .flex-order-tablet-80 {
    order: 80;
  }

  .flex-tablet-81 {
    width: 81%;
    height: 81%;
    display: inline-block;
  }

  .flex-order-tablet-81 {
    order: 81;
  }

  .flex-tablet-82 {
    width: 82%;
    height: 82%;
    display: inline-block;
  }

  .flex-order-tablet-82 {
    order: 82;
  }

  .flex-tablet-83 {
    width: 83%;
    height: 83%;
    display: inline-block;
  }

  .flex-order-tablet-83 {
    order: 83;
  }

  .flex-tablet-84 {
    width: 84%;
    height: 84%;
    display: inline-block;
  }

  .flex-order-tablet-84 {
    order: 84;
  }

  .flex-tablet-85 {
    width: 85%;
    height: 85%;
    display: inline-block;
  }

  .flex-order-tablet-85 {
    order: 85;
  }

  .flex-tablet-86 {
    width: 86%;
    height: 86%;
    display: inline-block;
  }

  .flex-order-tablet-86 {
    order: 86;
  }

  .flex-tablet-87 {
    width: 87%;
    height: 87%;
    display: inline-block;
  }

  .flex-order-tablet-87 {
    order: 87;
  }

  .flex-tablet-88 {
    width: 88%;
    height: 88%;
    display: inline-block;
  }

  .flex-order-tablet-88 {
    order: 88;
  }

  .flex-tablet-89 {
    width: 89%;
    height: 89%;
    display: inline-block;
  }

  .flex-order-tablet-89 {
    order: 89;
  }

  .flex-tablet-90 {
    width: 90%;
    height: 90%;
    display: inline-block;
  }

  .flex-order-tablet-90 {
    order: 90;
  }

  .flex-tablet-91 {
    width: 91%;
    height: 91%;
    display: inline-block;
  }

  .flex-order-tablet-91 {
    order: 91;
  }

  .flex-tablet-92 {
    width: 92%;
    height: 92%;
    display: inline-block;
  }

  .flex-order-tablet-92 {
    order: 92;
  }

  .flex-tablet-93 {
    width: 93%;
    height: 93%;
    display: inline-block;
  }

  .flex-order-tablet-93 {
    order: 93;
  }

  .flex-tablet-94 {
    width: 94%;
    height: 94%;
    display: inline-block;
  }

  .flex-order-tablet-94 {
    order: 94;
  }

  .flex-tablet-95 {
    width: 95%;
    height: 95%;
    display: inline-block;
  }

  .flex-order-tablet-95 {
    order: 95;
  }

  .flex-tablet-96 {
    width: 96%;
    height: 96%;
    display: inline-block;
  }

  .flex-order-tablet-96 {
    order: 96;
  }

  .flex-tablet-97 {
    width: 97%;
    height: 97%;
    display: inline-block;
  }

  .flex-order-tablet-97 {
    order: 97;
  }

  .flex-tablet-98 {
    width: 98%;
    height: 98%;
    display: inline-block;
  }

  .flex-order-tablet-98 {
    order: 98;
  }

  .flex-tablet-99 {
    width: 99%;
    height: 99%;
    display: inline-block;
  }

  .flex-order-tablet-99 {
    order: 99;
  }

  .flex-tablet-100 {
    width: 100%;
    height: 100%;
    display: inline-block;
  }

  .flex-order-tablet-100 {
    order: 100;
  }
}
@media (max-width: 960px) {
  .flex-mobile-0 {
    width: 0%;
    height: 0%;
    display: none;
  }

  .flex-order-mobile-0 {
    order: 0;
  }

  .flex-mobile-1 {
    width: 1%;
    height: 1%;
    display: inline-block;
  }

  .flex-order-mobile-1 {
    order: 1;
  }

  .flex-mobile-2 {
    width: 2%;
    height: 2%;
    display: inline-block;
  }

  .flex-order-mobile-2 {
    order: 2;
  }

  .flex-mobile-3 {
    width: 3%;
    height: 3%;
    display: inline-block;
  }

  .flex-order-mobile-3 {
    order: 3;
  }

  .flex-mobile-4 {
    width: 4%;
    height: 4%;
    display: inline-block;
  }

  .flex-order-mobile-4 {
    order: 4;
  }

  .flex-mobile-5 {
    width: 5%;
    height: 5%;
    display: inline-block;
  }

  .flex-order-mobile-5 {
    order: 5;
  }

  .flex-mobile-6 {
    width: 6%;
    height: 6%;
    display: inline-block;
  }

  .flex-order-mobile-6 {
    order: 6;
  }

  .flex-mobile-7 {
    width: 7%;
    height: 7%;
    display: inline-block;
  }

  .flex-order-mobile-7 {
    order: 7;
  }

  .flex-mobile-8 {
    width: 8%;
    height: 8%;
    display: inline-block;
  }

  .flex-order-mobile-8 {
    order: 8;
  }

  .flex-mobile-9 {
    width: 9%;
    height: 9%;
    display: inline-block;
  }

  .flex-order-mobile-9 {
    order: 9;
  }

  .flex-mobile-10 {
    width: 10%;
    height: 10%;
    display: inline-block;
  }

  .flex-order-mobile-10 {
    order: 10;
  }

  .flex-mobile-11 {
    width: 11%;
    height: 11%;
    display: inline-block;
  }

  .flex-order-mobile-11 {
    order: 11;
  }

  .flex-mobile-12 {
    width: 12%;
    height: 12%;
    display: inline-block;
  }

  .flex-order-mobile-12 {
    order: 12;
  }

  .flex-mobile-13 {
    width: 13%;
    height: 13%;
    display: inline-block;
  }

  .flex-order-mobile-13 {
    order: 13;
  }

  .flex-mobile-14 {
    width: 14%;
    height: 14%;
    display: inline-block;
  }

  .flex-order-mobile-14 {
    order: 14;
  }

  .flex-mobile-15 {
    width: 15%;
    height: 15%;
    display: inline-block;
  }

  .flex-order-mobile-15 {
    order: 15;
  }

  .flex-mobile-16 {
    width: 16%;
    height: 16%;
    display: inline-block;
  }

  .flex-order-mobile-16 {
    order: 16;
  }

  .flex-mobile-17 {
    width: 17%;
    height: 17%;
    display: inline-block;
  }

  .flex-order-mobile-17 {
    order: 17;
  }

  .flex-mobile-18 {
    width: 18%;
    height: 18%;
    display: inline-block;
  }

  .flex-order-mobile-18 {
    order: 18;
  }

  .flex-mobile-19 {
    width: 19%;
    height: 19%;
    display: inline-block;
  }

  .flex-order-mobile-19 {
    order: 19;
  }

  .flex-mobile-20 {
    width: 20%;
    height: 20%;
    display: inline-block;
  }

  .flex-order-mobile-20 {
    order: 20;
  }

  .flex-mobile-21 {
    width: 21%;
    height: 21%;
    display: inline-block;
  }

  .flex-order-mobile-21 {
    order: 21;
  }

  .flex-mobile-22 {
    width: 22%;
    height: 22%;
    display: inline-block;
  }

  .flex-order-mobile-22 {
    order: 22;
  }

  .flex-mobile-23 {
    width: 23%;
    height: 23%;
    display: inline-block;
  }

  .flex-order-mobile-23 {
    order: 23;
  }

  .flex-mobile-24 {
    width: 24%;
    height: 24%;
    display: inline-block;
  }

  .flex-order-mobile-24 {
    order: 24;
  }

  .flex-mobile-25 {
    width: 25%;
    height: 25%;
    display: inline-block;
  }

  .flex-order-mobile-25 {
    order: 25;
  }

  .flex-mobile-26 {
    width: 26%;
    height: 26%;
    display: inline-block;
  }

  .flex-order-mobile-26 {
    order: 26;
  }

  .flex-mobile-27 {
    width: 27%;
    height: 27%;
    display: inline-block;
  }

  .flex-order-mobile-27 {
    order: 27;
  }

  .flex-mobile-28 {
    width: 28%;
    height: 28%;
    display: inline-block;
  }

  .flex-order-mobile-28 {
    order: 28;
  }

  .flex-mobile-29 {
    width: 29%;
    height: 29%;
    display: inline-block;
  }

  .flex-order-mobile-29 {
    order: 29;
  }

  .flex-mobile-30 {
    width: 30%;
    height: 30%;
    display: inline-block;
  }

  .flex-order-mobile-30 {
    order: 30;
  }

  .flex-mobile-31 {
    width: 31%;
    height: 31%;
    display: inline-block;
  }

  .flex-order-mobile-31 {
    order: 31;
  }

  .flex-mobile-32 {
    width: 32%;
    height: 32%;
    display: inline-block;
  }

  .flex-order-mobile-32 {
    order: 32;
  }

  .flex-mobile-33 {
    width: 33%;
    height: 33%;
    display: inline-block;
  }

  .flex-order-mobile-33 {
    order: 33;
  }

  .flex-mobile-34 {
    width: 34%;
    height: 34%;
    display: inline-block;
  }

  .flex-order-mobile-34 {
    order: 34;
  }

  .flex-mobile-35 {
    width: 35%;
    height: 35%;
    display: inline-block;
  }

  .flex-order-mobile-35 {
    order: 35;
  }

  .flex-mobile-36 {
    width: 36%;
    height: 36%;
    display: inline-block;
  }

  .flex-order-mobile-36 {
    order: 36;
  }

  .flex-mobile-37 {
    width: 37%;
    height: 37%;
    display: inline-block;
  }

  .flex-order-mobile-37 {
    order: 37;
  }

  .flex-mobile-38 {
    width: 38%;
    height: 38%;
    display: inline-block;
  }

  .flex-order-mobile-38 {
    order: 38;
  }

  .flex-mobile-39 {
    width: 39%;
    height: 39%;
    display: inline-block;
  }

  .flex-order-mobile-39 {
    order: 39;
  }

  .flex-mobile-40 {
    width: 40%;
    height: 40%;
    display: inline-block;
  }

  .flex-order-mobile-40 {
    order: 40;
  }

  .flex-mobile-41 {
    width: 41%;
    height: 41%;
    display: inline-block;
  }

  .flex-order-mobile-41 {
    order: 41;
  }

  .flex-mobile-42 {
    width: 42%;
    height: 42%;
    display: inline-block;
  }

  .flex-order-mobile-42 {
    order: 42;
  }

  .flex-mobile-43 {
    width: 43%;
    height: 43%;
    display: inline-block;
  }

  .flex-order-mobile-43 {
    order: 43;
  }

  .flex-mobile-44 {
    width: 44%;
    height: 44%;
    display: inline-block;
  }

  .flex-order-mobile-44 {
    order: 44;
  }

  .flex-mobile-45 {
    width: 45%;
    height: 45%;
    display: inline-block;
  }

  .flex-order-mobile-45 {
    order: 45;
  }

  .flex-mobile-46 {
    width: 46%;
    height: 46%;
    display: inline-block;
  }

  .flex-order-mobile-46 {
    order: 46;
  }

  .flex-mobile-47 {
    width: 47%;
    height: 47%;
    display: inline-block;
  }

  .flex-order-mobile-47 {
    order: 47;
  }

  .flex-mobile-48 {
    width: 48%;
    height: 48%;
    display: inline-block;
  }

  .flex-order-mobile-48 {
    order: 48;
  }

  .flex-mobile-49 {
    width: 49%;
    height: 49%;
    display: inline-block;
  }

  .flex-order-mobile-49 {
    order: 49;
  }

  .flex-mobile-50 {
    width: 50%;
    height: 50%;
    display: inline-block;
  }

  .flex-order-mobile-50 {
    order: 50;
  }

  .flex-mobile-51 {
    width: 51%;
    height: 51%;
    display: inline-block;
  }

  .flex-order-mobile-51 {
    order: 51;
  }

  .flex-mobile-52 {
    width: 52%;
    height: 52%;
    display: inline-block;
  }

  .flex-order-mobile-52 {
    order: 52;
  }

  .flex-mobile-53 {
    width: 53%;
    height: 53%;
    display: inline-block;
  }

  .flex-order-mobile-53 {
    order: 53;
  }

  .flex-mobile-54 {
    width: 54%;
    height: 54%;
    display: inline-block;
  }

  .flex-order-mobile-54 {
    order: 54;
  }

  .flex-mobile-55 {
    width: 55%;
    height: 55%;
    display: inline-block;
  }

  .flex-order-mobile-55 {
    order: 55;
  }

  .flex-mobile-56 {
    width: 56%;
    height: 56%;
    display: inline-block;
  }

  .flex-order-mobile-56 {
    order: 56;
  }

  .flex-mobile-57 {
    width: 57%;
    height: 57%;
    display: inline-block;
  }

  .flex-order-mobile-57 {
    order: 57;
  }

  .flex-mobile-58 {
    width: 58%;
    height: 58%;
    display: inline-block;
  }

  .flex-order-mobile-58 {
    order: 58;
  }

  .flex-mobile-59 {
    width: 59%;
    height: 59%;
    display: inline-block;
  }

  .flex-order-mobile-59 {
    order: 59;
  }

  .flex-mobile-60 {
    width: 60%;
    height: 60%;
    display: inline-block;
  }

  .flex-order-mobile-60 {
    order: 60;
  }

  .flex-mobile-61 {
    width: 61%;
    height: 61%;
    display: inline-block;
  }

  .flex-order-mobile-61 {
    order: 61;
  }

  .flex-mobile-62 {
    width: 62%;
    height: 62%;
    display: inline-block;
  }

  .flex-order-mobile-62 {
    order: 62;
  }

  .flex-mobile-63 {
    width: 63%;
    height: 63%;
    display: inline-block;
  }

  .flex-order-mobile-63 {
    order: 63;
  }

  .flex-mobile-64 {
    width: 64%;
    height: 64%;
    display: inline-block;
  }

  .flex-order-mobile-64 {
    order: 64;
  }

  .flex-mobile-65 {
    width: 65%;
    height: 65%;
    display: inline-block;
  }

  .flex-order-mobile-65 {
    order: 65;
  }

  .flex-mobile-66 {
    width: 66%;
    height: 66%;
    display: inline-block;
  }

  .flex-order-mobile-66 {
    order: 66;
  }

  .flex-mobile-67 {
    width: 67%;
    height: 67%;
    display: inline-block;
  }

  .flex-order-mobile-67 {
    order: 67;
  }

  .flex-mobile-68 {
    width: 68%;
    height: 68%;
    display: inline-block;
  }

  .flex-order-mobile-68 {
    order: 68;
  }

  .flex-mobile-69 {
    width: 69%;
    height: 69%;
    display: inline-block;
  }

  .flex-order-mobile-69 {
    order: 69;
  }

  .flex-mobile-70 {
    width: 70%;
    height: 70%;
    display: inline-block;
  }

  .flex-order-mobile-70 {
    order: 70;
  }

  .flex-mobile-71 {
    width: 71%;
    height: 71%;
    display: inline-block;
  }

  .flex-order-mobile-71 {
    order: 71;
  }

  .flex-mobile-72 {
    width: 72%;
    height: 72%;
    display: inline-block;
  }

  .flex-order-mobile-72 {
    order: 72;
  }

  .flex-mobile-73 {
    width: 73%;
    height: 73%;
    display: inline-block;
  }

  .flex-order-mobile-73 {
    order: 73;
  }

  .flex-mobile-74 {
    width: 74%;
    height: 74%;
    display: inline-block;
  }

  .flex-order-mobile-74 {
    order: 74;
  }

  .flex-mobile-75 {
    width: 75%;
    height: 75%;
    display: inline-block;
  }

  .flex-order-mobile-75 {
    order: 75;
  }

  .flex-mobile-76 {
    width: 76%;
    height: 76%;
    display: inline-block;
  }

  .flex-order-mobile-76 {
    order: 76;
  }

  .flex-mobile-77 {
    width: 77%;
    height: 77%;
    display: inline-block;
  }

  .flex-order-mobile-77 {
    order: 77;
  }

  .flex-mobile-78 {
    width: 78%;
    height: 78%;
    display: inline-block;
  }

  .flex-order-mobile-78 {
    order: 78;
  }

  .flex-mobile-79 {
    width: 79%;
    height: 79%;
    display: inline-block;
  }

  .flex-order-mobile-79 {
    order: 79;
  }

  .flex-mobile-80 {
    width: 80%;
    height: 80%;
    display: inline-block;
  }

  .flex-order-mobile-80 {
    order: 80;
  }

  .flex-mobile-81 {
    width: 81%;
    height: 81%;
    display: inline-block;
  }

  .flex-order-mobile-81 {
    order: 81;
  }

  .flex-mobile-82 {
    width: 82%;
    height: 82%;
    display: inline-block;
  }

  .flex-order-mobile-82 {
    order: 82;
  }

  .flex-mobile-83 {
    width: 83%;
    height: 83%;
    display: inline-block;
  }

  .flex-order-mobile-83 {
    order: 83;
  }

  .flex-mobile-84 {
    width: 84%;
    height: 84%;
    display: inline-block;
  }

  .flex-order-mobile-84 {
    order: 84;
  }

  .flex-mobile-85 {
    width: 85%;
    height: 85%;
    display: inline-block;
  }

  .flex-order-mobile-85 {
    order: 85;
  }

  .flex-mobile-86 {
    width: 86%;
    height: 86%;
    display: inline-block;
  }

  .flex-order-mobile-86 {
    order: 86;
  }

  .flex-mobile-87 {
    width: 87%;
    height: 87%;
    display: inline-block;
  }

  .flex-order-mobile-87 {
    order: 87;
  }

  .flex-mobile-88 {
    width: 88%;
    height: 88%;
    display: inline-block;
  }

  .flex-order-mobile-88 {
    order: 88;
  }

  .flex-mobile-89 {
    width: 89%;
    height: 89%;
    display: inline-block;
  }

  .flex-order-mobile-89 {
    order: 89;
  }

  .flex-mobile-90 {
    width: 90%;
    height: 90%;
    display: inline-block;
  }

  .flex-order-mobile-90 {
    order: 90;
  }

  .flex-mobile-91 {
    width: 91%;
    height: 91%;
    display: inline-block;
  }

  .flex-order-mobile-91 {
    order: 91;
  }

  .flex-mobile-92 {
    width: 92%;
    height: 92%;
    display: inline-block;
  }

  .flex-order-mobile-92 {
    order: 92;
  }

  .flex-mobile-93 {
    width: 93%;
    height: 93%;
    display: inline-block;
  }

  .flex-order-mobile-93 {
    order: 93;
  }

  .flex-mobile-94 {
    width: 94%;
    height: 94%;
    display: inline-block;
  }

  .flex-order-mobile-94 {
    order: 94;
  }

  .flex-mobile-95 {
    width: 95%;
    height: 95%;
    display: inline-block;
  }

  .flex-order-mobile-95 {
    order: 95;
  }

  .flex-mobile-96 {
    width: 96%;
    height: 96%;
    display: inline-block;
  }

  .flex-order-mobile-96 {
    order: 96;
  }

  .flex-mobile-97 {
    width: 97%;
    height: 97%;
    display: inline-block;
  }

  .flex-order-mobile-97 {
    order: 97;
  }

  .flex-mobile-98 {
    width: 98%;
    height: 98%;
    display: inline-block;
  }

  .flex-order-mobile-98 {
    order: 98;
  }

  .flex-mobile-99 {
    width: 99%;
    height: 99%;
    display: inline-block;
  }

  .flex-order-mobile-99 {
    order: 99;
  }

  .flex-mobile-100 {
    width: 100%;
    height: 100%;
    display: inline-block;
  }

  .flex-order-mobile-100 {
    order: 100;
  }
}
